@import '../../variables.scss';

.navigation-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid $border-color;
}

.navigation-menu {
    height: 100vh;
    padding: $unit*2;
}

.navigation-menu-item {
    padding: $unit;
    span {
        cursor: pointer;
        &:hover {
            color: $menu-hover-color;
        }
    }

}